AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=AKIAY73I4NI576YIEEQ7
AWS_SECRET_ACCESS_KEY=PASTE_YOUR_SECRET_KEY_HERE
BEDROCK_MODEL_ID=au.anthropic.claude-haiku-4-5-20251001-v1:0
# AWS_SESSION_TOKEN=

MCP_PORT=3001
NEXT_PUBLIC_MCP_URL=http://localhost:3001